:root 
{ --main-bg-color:      #0b070d
; --banner-bg-color:    #110b12
; --box-bg-color:       #291d20
; --box-bg-color-alt:   #120b0f
; --main-text-color:    #C2C2A8
; --box-text-color:     #DBDAC1
; --accent-color:       #94B1A3
; --border-color:       #7A9388
; --logo-color:         #9DA69E
; --site-name-color:    #29302d
; --subtle-text-color:  #67575e
; --menubar-link-color: #767D75
; --link-color:         #CD546C
; --link-hover-color:   #EF545F
;}

body 
{ color: var(--main-text-color)
; background-color: var(--main-bg-color)
; font-family: 'Open Sans', sans-serif
; font-size: 12pt
; line-height: 1.5em
}

body, #top-bar
{ min-width: 20em
}

#top-bar 
{ background-color: var(--main-bg-color)
; border-bottom: 0.1em solid var(--border-color)
; position: fixed
; z-index: 999
; width: 100%
; display: grid
; grid-template-columns: 7em 1fr/*logo 5em + 1em left pad + 1em right pad*/
; grid-auto-flow: dense
; justify-items: end
; align-items: center
}
    #site-link 
    { display: flex
    ; justify-content: flex-start
    ; align-items: center
    ; padding: 0.5em 1em
    }
        #site-name 
        { height: 3em
        ; width: 5em
        ; fill: var(--site-name-color)
        }
    #menu-btn 
    { display: flex
    ; justify-content: flex-end
    ; align-items: center
    ; margin: 0em 1em
    }
        #menu-btn .icon 
        { height: 1.5em
        ; width: 2em
        ; fill: var(--main-text-color)
        }
    #links 
    { grid-column: span 2
    ; padding-bottom: 1em
    ; width: 100%
    ; display: flex
    ; justify-content: space-evenly
    ; align-items: center
    }
        #links li 
        { text-align: left
        ; line-height: 2em
        ; margin: 0 1em
        }
            #links a 
            { width: 100%
            ; height: 100%
            ; color: var(--menubar-link-color)
            ; text-decoration: none
            }
            #links a:hover 
            { color: var(--accent-color)
            }
                #links .icon 
                { display: inline-block
                ; height: 1.5em
                ; width: 1.5em
                ; vertical-align: middle
                ; fill: var(--menubar-link-color)
                ; margin-right: 0.5em
                }
                #links a:hover .icon 
                { fill: var(--accent-color) !important;
                }

        #links .location 
        { display: none
        ; color: var(--menubar-link-color)
        }

#banner 
{ background-color: var(--banner-bg-color)
; color: var(--main-text-color)
; padding-top: 4em
; border: 0.1em solid var(--border-color)
; border-left: none
; border-right: none
; text-align: center
; vertical-align: middle
}
    #logo 
    { width: 10em
    ; padding: 2em 5em
    ; fill: var(--logo-color)
    }
    #banner-text 
    { padding: 2em
    ; padding-top: 0
    ; text-align: left
    }
        #banner-text h2 
        { font-family: 'Roboto Slab', serif
        ; font-size: 2em
        }
        #banner-text .text 
        { max-width: 41.25em
        ; margin-top: 2em
        }

#content 
{ display: flex
; flex-direction: column
}
    #content .box 
    { background-color: var(--box-bg-color)
    ; border-bottom: 0.1em solid var(--border-color)
    }
    #content .box:nth-child(even) 
    { background-color: var(--box-bg-color-alt)
    }
        #content .box header 
        { min-height: 12em
        ; position: relative
        ; overflow: hidden
        }
            #content .box header h3 
            { font-family: 'Oswald', sans-serif
            ; font-size: 1.2em
            ; color: var(--accent-color)
            ; padding: 0.5em 1em
            ; width: calc(100% - 2em)
            ; position: absolute
            ; top: 0px
            ; left: 0px
            ; display: flex
            ; justify-content: flex-start
            ; align-items: flex-end
            ; z-index: 1
            ; background: var(--box-bg-color-alt)
            ; opacity: 0.9
            }
            #content .box header .img 
            { width: 200%
            ; height: 200%
            ; top: -50%
            ; left: -50%
            ; position: absolute
            ; z-index: 0
            ; background-position: center
            ; object-fit: cover
            }
        #content .box .description 
        { color: var(--box-text-color)
        ; margin: 1em
        }
            #content .box a 
            { color: var(--link-color)
            ; text-decoration: none
            }
            #content .box a:hover 
            { color: var(--link-hover-color)
            }

#footer 
{ text-align: center
; padding: 1em
; background-color: var(--main-bg-color)
}
    #footer .copyright 
    { color: var(--subtle-text-color)
    ; font-size: 0.9em
    }

.center 
{ display: flex
; justify-content: center
; align-items: center
}
.hidden { display: none !important }
.no-transition { transition: none !important }
.accent { color: #A5AF86 }

.break, .break-bottom, .break-top, .break-both 
{ background-color: var(--break-bg-color)
; border-top: 0.1em solid var(--border-color)
; border-bottom: 0.1em solid var(--border-color)
; height: 2em
}
.break-bottom   { border-top: none }
.break-top      { border-bottom: none }

.grid-full-row      { grid-column: 1 / -1 }
.grid-middle        { grid-column: 2 / -2 }
.grid-right-large   { grid-column: 2 / -1 }
.grid-left-large    { grid-column: 1 / -2 }
.grid-right-small   { grid-column: -3 / -1 }
.grid-left-small    { grid-column: 1 / 3 }

.thumbnail 
{ object-fit: cover
; width: 16em
; height: 12em
; object-position: top
; margin-right: 1em
; margin-top: 1em
; border: 0.1em solid var(--border-color)
}
@media (min-width: 640px) {
    #menu-btn 
    { display: none
    }

    #links 
    { grid-column: span 1
    ; padding-bottom: 0
    ; justify-content: flex-end
    ; display: flex !important
    }
        #links .location 
        { display: inline-block
        ; margin-right: 2em
        }

    #banner 
    { display: flex
    ; align-items: center
    ; justify-content: center
    }
        #banner-text
        { padding-left: 0
        ; padding-top: 2em
        }

    #content 
    { display: grid
    ; grid-template-columns: repeat(auto-fit, minmax(16.875em, 1fr))
    /* Note: adjusting the grid gap can break the responsive design if the
    max-width media query isn't adjusted to compensate for the extra gap */
    ; gap: 0.0em
    ; grid-auto-flow: dense
    }

    #footer 
    { text-align: right
    }
}
