:root 
{ --page-text-color:        #C2C2A8
; --page-bg-color:          #130c17
; --box-text-color:         #DBDAC1
; --box-bg-color:           #1b1a22
; --box-bg-color-alt:       #05070b
; --box-border-color:       #2e343e
; --menubar-text-color:     #767D75
; --menubar-bg-color:       #05070b
; --site-name-color:        #29302d
; --border-color:           #7A9388
; --logo-color:             #9DA69E
; --accent-color:           #94B1A3
; --subtle-text-color:      #917f86
; --link-color:             #ea7d93
; --link-hover-color:       #EF545F
; --accent-red-color:       #da2840
/*
calc((100vw - 40rem) / 2):                  represents the total amount of remaining viewport space left before the 40rem breakport is hit
calc(((100vw - 40rem) / 2) + 2rem):         this will leave a minimum margin of 2rem on either side of the grid
calc(((100vw - 40rem) / 2 * 0.15) + 2rem):  15% of the remaining space will be used by the margins in addition to the 2rem minimum
*/
; --content-margin: calc(((100vw - 40rem) / 2 * 0.15) + 2rem)
}

body 
{ color: var(--page-text-color)
; background-color: var(--page-bg-color)
; font-family: 'Open Sans', sans-serif
; font-size: 1rem
; line-height: 1.5rem
}

#page
{ min-width: 20rem
; margin: 0 auto
; position: relative
; background-color: var(--page-bg-color)
}
    #page a 
    { color: var(--link-color)
    ; text-decoration: none
    }
    #page a:hover 
    { color: var(--link-hover-color)
    }

#top-bar 
{ background-color: var(--menubar-bg-color)
; border-bottom: 0.0625rem solid var(--border-color)
; display: grid
/*logo 5rem + 1rem left pad + 1rem right pad*/
; grid-template-columns: 7rem 1fr
; grid-auto-flow: dense
; justify-items: end
; align-items: center
; position: absolute
; width: 100%
}
    #site-link 
    { display: flex
    ; justify-content: center
    ; align-items: center
    ; height: 4rem
    ; width: 7rem
    }
        #site-name 
        { height: 3rem
        ; width: 5rem
        ; fill: var(--site-name-color)
        }
    #menu-btn 
    { display: flex
    ; justify-content: center
    ; align-items: center
    ; cursor: pointer
    ; height: 4rem
    ; width: 4rem
    }
        #menu-btn .icon 
        { height: 1.5rem
        ; width: 2rem
        ; fill: var(--page-text-color)
        }
    #menu-toggle:checked + #links 
    { display: flex
    }
    #links 
    { grid-column: span 2
    ; padding-bottom: 0.5rem
    ; width: 100%
    ; display: none
    ; justify-content: space-evenly
    ; align-items: center
    }
        #links li 
        { text-align: left
        ; line-height: 2.5rem
        ; margin-right: 1rem
        }
            #links a 
            { color: var(--menubar-text-color)
            ; display: block
            ; padding-right: 1rem
            }
            #links a:hover 
            { color: var(--accent-color)
            }
                #links .icon 
                { display: inline-block
                ; height: 2.5rem
                ; width: 1.5rem
                ; vertical-align: top
                ; fill: var(--menubar-text-color)
                ; margin-right: 0.5rem
                }
                #links a:hover .icon 
                { fill: var(--accent-color) !important;
                }
        #links .location 
        { display: none
        ; color: var(--menubar-text-color)
        }
        #links .email .address
        { height: 0.85rem
        ; width: 6.4rem
        ; margin-top: -0.0625rem
        ; vertical-align: middle
        ; fill: var(--menubar-text-color)
        }

#banner 
{ background-color: var(--page-bg-color)
; color: var(--page-text-color)
; text-align: center
; vertical-align: middle
; padding-top: 4rem
}
    #page.error #banner .accent
    { color: var(--accent-red-color)
    }
    #logo 
    { width: 10rem
    ; height: 15rem
    ; padding: 2rem 5rem
    ; fill: var(--logo-color)
    }
    #page.error #logo
    { padding: 2rem 3rem 
    }
    #banner-text 
    { padding: 2rem
    ; padding-top: 0
    ; text-align: left
    }
        #banner-text h1
        { font-family: 'Roboto Slab', serif
        ; font-size: 2rem
        ; line-height: 1.2em
        }
        #banner-text .text 
        { max-width: 48rem
        ; margin-top: 1.5rem
        }
        #page.error #banner h1, #page.error #banner .text
        { text-align: center;
        }

#content 
{ display: flex
; flex-direction: column
}
    #content .box 
    { background-color: var(--box-bg-color)
    ; border: 0.0625rem solid var(--box-border-color)
    ; margin: 0.75rem 1rem
    ; display: flex
    ; flex-direction: column
    }
    #content .box:nth-child(even) 
    { background-color: var(--box-bg-color-alt)
    }
    #content .box:last-child
    { margin-bottom: 0
    }
        #content .box img
        { width: 100%
        ; object-fit: cover
        ; display: block
        }
        #content .box header 
        { min-height: 12rem
        ; position: relative
        ; overflow: hidden
        }
            #content .box header h2
            { font-family: 'Oswald', sans-serif
            ; font-size: 1.2rem
            ; color: var(--accent-color)
            ; padding: 0.5rem 1rem
            ; width: calc(100% - 2rem)
            ; position: absolute
            ; top: 0
            ; left: 0
            ; background: var(--box-bg-color-alt)
            ; opacity: 0.9
            ; white-space: nowrap
            ; overflow: hidden
            ; text-overflow: ellipsis
            }
            #content .box header img 
            { height: 12rem
            }
        #content .box .description 
        { color: var(--box-text-color)
        ; margin: 1rem
        }
        #content .box .images
        { display: grid
        ; grid-gap: 1rem
        ; margin: 1rem
        ; margin-top: 0
        ; grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
        }
            #content .box .images a
            { border: 0.0625rem solid var(--menubar-text-color)
            }
            #content .box .images a:hover
            { border: 0.0625rem solid var(--accent-color)
            }
            #content .box .images img
            { min-height: 12rem
            }

#footer 
{ text-align: center
; padding: 1rem
}

.copyright 
{ font-size: 0.9rem
; color: var(--subtle-text-color)
}
.center 
{ display: flex
; justify-content: center
; align-items: center
}
.hidden { display: none !important }
.no-transition { transition: none !important }
.accent { color: #A5AF86 }

.break, .break-bottom, .break-top, .break-both 
{ background-color: var(--break-bg-color)
; border-top: 0.0625rem solid var(--border-color)
; border-bottom: 0.0625rem solid var(--border-color)
; height: 2rem
}
.break-bottom   { border-top: none }
.break-top      { border-bottom: none }

img.center  { object-position: center center }
img.left    { object-position: left center }
img.right   { object-position: right center }

.grid-full-row      { grid-column: 1 / -1 }
.grid-middle        { grid-column: 2 / -2 }
.grid-right-large   { grid-column: 2 / -1 }
.grid-left-large    { grid-column: 1 / -2 }
.grid-right-small   { grid-column: -3 / -1 }
.grid-left-small    { grid-column: 1 / 3 }

@media (min-width: 40rem) {
    #menu-btn
    { display: none
    }

    #links 
    { grid-column: span 1
    ; padding-bottom: 0
    ; justify-content: flex-end
    ; display: flex !important
    }
        #links .location 
        { display: inline-block
        ; margin-right: 2rem
        }

    #banner 
    { display: flex
    ; align-items: center
    ; justify-content: center
    ; margin: 0 var(--content-margin)
    }
        #banner-text
        { padding-left: 0
        ; padding-right: 0
        ; padding-top: 2rem
        }
        #page.error #banner h1, #page.error #banner .text
        { text-align: left;
        }
    #content 
    { display: grid
    ; grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr))
    /* Note: adjusting the grid gap can break the responsive design if the
    max-width media query isn't adjusted to compensate for the extra gap */
    ; gap: 1.5rem
    ; grid-auto-flow: dense
    ; margin: 0 var(--content-margin)
    }
        #content .box
        { margin: 0
        }

    #footer 
    { margin:           0 var(--content-margin)
    ; padding-top:      calc(var(--content-margin) / 2)
    ; padding-bottom:   calc(var(--content-margin) / 2)
    }
}
