body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    font-size: 12pt;
    line-height: 1.5em;
    padding: 2.0em 2.5em;
}

#content {
    max-width: 64em;
    margin: 0 auto;
}

.name, .grid {
    display: grid;
    column-gap: 3em;
}
.name {
    row-gap: 1em;
}

.columns {
    column-gap: 3em;
}

header .sub-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
    line-height: 2em;
}

h1, h2, h3, h4, h5, .title {
    color: #222
}
h1, h3 {
    font-family: 'Oswald', sans-serif;
}
h2, h4, h5, .title {
    font-family: 'Roboto Slab', serif;
}
h5, .title {
    font-weight: bold;
}

h1 {
    font-size: 3em;
    line-height: 1.0em;
}
h2 {
    font-size: 2em;
    text-align: center;
}
h2 .icon {
    display: block;
    height: 2.0em;
    width: 2.5em;
    opacity: 0.2;
    margin: 1.0em auto;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 1.0em;
}
h5 {
    margin-bottom: 0.5em;
}

article p {
    margin-bottom: 1.0em;
}

article header {
    margin-bottom: 0.5em;
}

#contact li {
    text-align: left;
    line-height: 1.5em;
}

#contact li .icon {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    fill: #c6c6c6;
    margin-right: 0.5em;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #006aba;
}
a:hover .icon {
    fill: #006aba !important;
}

ul.items li {
    display: inline-block;
    line-height: 1.75em;
    color: #000;
    border: 0.1em solid #c6c6c6;
    /*background-color: #e0e0e0;*/
    padding: 0 0.6em;
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

ul.bullet-list {
    list-style-image: url('img/chevron-forward.svg');
}

ul.bullet-list li {
    padding-bottom: 0.5em;
    break-inside: avoid;
}

.date { font-weight: normal }

#summary p {
    margin-top: 1.5em;
}
#experience article header,
#education article header {
    padding-bottom: 0.5em;
    border-bottom-width: 0.3em;
    border-style: solid;
    border-image: 
        linear-gradient(
            to right,
            #ccc, 
            rgba(247, 247, 247, 0)
        ) 100% 1;
}

@media only all and (min-width: 630px) {
    .name {
        grid-template-columns: 1fr auto;
    }
}
/* 768 = 2 col on ipad in portrait, 769 = 1 col on ipad in portrait */
@media only all and (min-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .columns {
        columns: 2;
    }
}
@media not print {
    #contact li.doc .web {
        display: none;
    }
}
@media print {
    #contact li.doc .pdf {
        display: none;
    }
    body {
        font-size: 10pt;
        background-color: #ffffff;
        /* need some margin to have left hand side list-item bullets show when printing */
        padding: 0 0 0 1.5em;
    }
}