@font-face
  { font-family: "Bebas"
  ; src: local("Bebas")
  , url('fonts/bebas.ttf')
  }
@font-face
  { font-family: "Adelle Basic"
  ; src: local("Adelle Basic Bold")
  , url('fonts/AdelleBasic_Bold.otf')
  ; font-weight: bold
  }
@font-face
  { font-family: "Adelle Basic"
  ; src: local("Adelle Basic Bold Italic")
  , url('fonts/AdelleBasic_BoldItalic.otf')
  ; font-weight: bold
  ; font-style: italic
  }
* { margin: 0px
  ; padding: 0px
  }
html
  { height: 100%
  ; width: 100%
  }
body
  { background-color: #fff
  ; padding: 0px
  ; margin: 0px
  ; font-family: Verdana
  ; font-size: 10pt
  ; height: 100%
  ; width: 100%
  ; position: relative
  }
#menu, #bg, #item
  { margin: 0px auto
  ; display: block
  ; position: absolute
  ; width: 100%
  ; height: 100%
  ; top: 0px
  ; left: 0px
  }
#bg { position: fixed }
#content
  { width: 800px
  ; margin: 65px auto 0px auto
  ; padding: 0px 10px 75px 10px
  ; position: relative
  }
#content .dark
  { font-family: "Adelle Basic"
  ; font-weight: bold
  ; font-style: italic
  ; color: #2e3436
  ; font-size: 14pt
  }
#content .red, .section
  { font-family: Bebas /*"League Gothic"*/
  ; font-size: 12pt
  ; font-weight: normal
  ; color: #7a242e
  ; padding-top: 15px
  ; padding-bottom: 5px
  ; margin: 0px 0px 5px 0px
  ; word-spacing: 5px
  ; letter-spacing: 1px
  ; border-bottom: 1px dotted #aaa
  }
.section
  { text-align: right
  ; margin: 0px
  ; border-right: 1px dotted #aaa
  ; border-bottom: 0px
  }
table
  { border-collapse: collapse
  }
p, ul li, table td
  { line-height: 20pt
  }
table td
  { padding: 15px
  ; vertical-align: top
  }
ul li
  { padding: 10px 0px
  }
#footer
  { position: fixed
  ; bottom: 0px
  ; left: 0px
  ; width: 100%
  ; text-align: center
  ; line-height: 30px
  ; letter-spacing: 10px
  ; padding: 0px 0px
  ; color: #ccc
  ; border-top: 1px solid #aaa
  ; background: rgba(0,0,0,0.80) url(img/bg_hb_dark.png) no-repeat center top
  }
#footer p
  { margin: 0px 50px
  }
.date
  { font-style: italic
  ; font-family: verdana
  ; font-size: 8pt
  ; color: #666
  }
.b { font-weight: bold }
.u { text-decoration: underline }
